.netpfilter-root-container {
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.netpfilter-filter-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;	
}

.netpfilter-container {
    margin: 5px 0;
}

.netpfilter-label {
    margin-bottom: 3px;
    font-size: small;
    font-weight: bold;
}

.netpfilter-select {
    height: 25px;
    font-size: smaller;
    width: 85%;
}

.netpfilter-summary {
    margin-top: 8px;
    margin-left; 5px;
    font-size: smaller;
}